In [1]:
client_id = "0b7b83ca-c5d8-4df9-bd3b-e18c5e2de721"
secret = "2961ea40-1014-4b5d-91f6-c5078cd79de7"


import sys, os
import dateutil.parser as dp
import requests

%load_ext autoreload
%autoreload 2

from frost.client import APIError, Frost

In [2]:
import pandas as pd

In [15]:
from frost.client import APIError, Frost
f = Frost(client_id)
res = f.get_sources(ids='SN30255')

# return as Pandas Dataframe
df = res.to_df()

# return IDs of sources as list
ids = res.to_ids_list()

In [25]:
res = f.get_observations(
            sources=['SN50540'],
            elements=['sum(precipitation_amount P1D)'],
            timeoffsets=['PT6H'],
            referencetime='2018-01-01/2018-02-01')
df = res.to_df()

In [26]:
df

,elementId,exposureCategory,performanceCategory,qualityCode,timeOffset,timeResolution,timeSeriesId,unit,value,sourceId,referenceTime,stationId
0,sum(precipitation_amount P1D),1,A,0,PT6H,P1D,0,mm,9.6,SN50540:0,2018-01-01 00:00:00+00:00,SN50540
1,sum(precipitation_amount P1D),1,A,0,PT6H,P1D,0,mm,6.9,SN50540:0,2018-01-02 00:00:00+00:00,SN50540
2,sum(precipitation_amount P1D),1,A,0,PT6H,P1D,0,mm,2.9,SN50540:0,2018-01-03 00:00:00+00:00,SN50540
3,sum(precipitation_amount P1D),1,A,0,PT6H,P1D,0,mm,0.0,SN50540:0,2018-01-04 00:00:00+00:00,SN50540
4,sum(precipitation_amount P1D),1,A,0,PT6H,P1D,0,mm,0.0,SN50540:0,2018-01-05 00:00:00+00:00,SN50540
5,sum(precipitation_amount P1D),1,A,0,PT6H,P1D,0,mm,0.0,SN50540:0,2018-01-06 00:00:00+00:00,SN50540
6,sum(precipitation_amount P1D),1,A,0,PT6H,P1D,0,mm,0.4,SN50540:0,2018-01-07 00:00:00+00:00,SN50540
7,sum(precipitation_amount P1D),1,A,0,PT6H,P1D,0,mm,12.0,SN50540:0,2018-01-08 00:00:00+00:00,SN50540
8,sum(precipitation_amount P1D),1,A,0,PT6H,P1D,0,mm,0.0,SN50540:0,2018-01-09 00:00:00+00:00,SN50540
9,sum(precipitation_amount P1D),1,A,0,PT6H,P1D,0,mm,0.0,SN50540:0,2018-01-10 00:00:00+00:00,SN50540
10,sum(precipitation_amount P1D),1,A,0,PT6H,P1D,0,mm,2.0,SN50540:0,2018-01-11 00:00:00+00:00,SN50540
11,sum(precipitation_amount P1D),1,A,0,PT6H,P1D,0,mm,0.0,SN50540:0,2018-01-12 00:00:00+00:00,SN50540
12,sum(precipitation_amount P1D),1,A,0,PT6H,P1D,0,mm,0.0,SN50540:0,2018-01-13 00:00:00+00:00,SN50540
13,sum(precipitation_amount P1D),1,A,0,PT6H,P1D,0,mm,0.0,SN50540:0,2018-01-14 00:00:00+00:00,SN50540
14,sum(precipitation_amount P1D),1,A,0,PT6H,P1D,0,mm,0.0,SN50540:0,2018-01-15 00:00:00+00:00,SN50540
15,sum(precipitation_amount P1D),1,A,0,PT6H,P1D,0,mm,9.8,SN50540:0,2018-01-16 00:00:00+00:00,SN50540
16,sum(precipitation_amount P1D),1,A,0,PT6H,P1D,0,mm,10.4,SN50540:0,2018-01-17 00:00:00+00:00,SN50540
17,sum(precipitation_amount P1D),1,A,0,PT6H,P1D,0,mm,2.1,SN50540:0,2018-01-18 00:00:00+00:00,SN50540
18,sum(precipitation_amount P1D),1,A,0,PT6H,P1D,0,mm,2.6,SN50540:0,2018-01-19 00:00:00+00:00,SN50540
19,sum(precipitation_amount P1D),1,A,0,PT6H,P1D,0,mm,2.6,SN50540:0,2018-01-20 00:00:00+00:00,SN50540
20,sum(precipitation_amount P1D),1,A,0,PT6H,P1D,0,mm,0.0,SN50540:0,2018-01-21 00:00:00+00:00,SN50540
21,sum(precipitation_amount P1D),1,A,0,PT6H,P1D,0,mm,0.0,SN50540:0,2018-01-22 00:00:00+00:00,SN50540
22,sum(precipitation_amount P1D),1,A,0,PT6H,P1D,0,mm,4.0,SN50540:0,2018-01-23 00:00:00+00:00,SN50540
23,sum(precipitation_amount P1D),1,A,0,PT6H,P1D,0,mm,24.1,SN50540:0,2018-01-24 00:00:00+00:00,SN50540
24,sum(precipitation_amount P1D),1,A,0,PT6H,P1D,0,mm,19.3,SN50540:0,2018-01-25 00:00:00+00:00,SN50540
25,sum(precipitation_amount P1D),1,A,0,PT6H,P1D,0,mm,10.7,SN50540:0,2018-01-26 00:00:00+00:00,SN50540
26,sum(precipitation_amount P1D),1,A,0,PT6H,P1D,0,mm,4.0,SN50540:0,2018-01-27 00:00:00+00:00,SN50540
27,sum(precipitation_amount P1D),1,A,0,PT6H,P1D,0,mm,29.6,SN50540:0,2018-01-28 00:00:00+00:00,SN50540
28,sum(precipitation_amount P1D),1,A,0,PT6H,P1D,0,mm,12.6,SN50540:0,2018-01-29 00:00:00+00:00,SN50540
29,sum(precipitation_amount P1D),1,A,0,PT6H,P1D,0,mm,16.7,SN50540:0,2018-01-30 00:00:00+00:00,SN50540
30,sum(precipitation_amount P1D),1,A,0,PT6H,P1D,0,mm,34.9,SN50540:0,2018-01-31 00:00:00+00:00,SN50540

In [33]:
res = f.get_observations(sources=['SN30255'], referencetime="2018-01-01/2018-02-01", elements=[
                                                                                "air_temperature"])

# return as Pandas Dataframe
df = res.to_df()

In [34]:
df

,elementId,exposureCategory,level,performanceCategory,qualityCode,timeOffset,timeResolution,timeSeriesId,unit,value,sourceId,referenceTime,stationId
0,air_temperature,1,"{'levelType': 'height_above_ground', 'unit': '...",A,0,PT0H,PT1H,0,degC,2.0,SN30255:0,2018-01-01 00:00:00+00:00,SN30255
1,air_temperature,1,"{'levelType': 'height_above_ground', 'unit': '...",A,0,PT0H,PT1H,0,degC,3.1,SN30255:0,2018-01-01 01:00:00+00:00,SN30255
2,air_temperature,1,"{'levelType': 'height_above_ground', 'unit': '...",A,0,PT0H,PT1H,0,degC,4.5,SN30255:0,2018-01-01 02:00:00+00:00,SN30255
3,air_temperature,1,"{'levelType': 'height_above_ground', 'unit': '...",A,0,PT0H,PT1H,0,degC,4.7,SN30255:0,2018-01-01 03:00:00+00:00,SN30255
4,air_temperature,1,"{'levelType': 'height_above_ground', 'unit': '...",A,0,PT0H,PT1H,0,degC,4.5,SN30255:0,2018-01-01 04:00:00+00:00,SN30255
5,air_temperature,1,"{'levelType': 'height_above_ground', 'unit': '...",A,0,PT0H,PT1H,0,degC,4.7,SN30255:0,2018-01-01 05:00:00+00:00,SN30255
6,air_temperature,1,"{'levelType': 'height_above_ground', 'unit': '...",A,0,PT0H,PT1H,0,degC,4.5,SN30255:0,2018-01-01 06:00:00+00:00,SN30255
7,air_temperature,1,"{'levelType': 'height_above_ground', 'unit': '...",A,0,PT0H,PT1H,0,degC,4.3,SN30255:0,2018-01-01 07:00:00+00:00,SN30255
8,air_temperature,1,"{'levelType': 'height_above_ground', 'unit': '...",A,0,PT0H,PT1H,0,degC,4.2,SN30255:0,2018-01-01 08:00:00+00:00,SN30255
9,air_temperature,1,"{'levelType': 'height_above_ground', 'unit': '...",A,0,PT0H,PT1H,0,degC,4.0,SN30255:0,2018-01-01 09:00:00+00:00,SN30255
10,air_temperature,1,"{'levelType': 'height_above_ground', 'unit': '...",A,0,PT0H,PT1H,0,degC,4.2,SN30255:0,2018-01-01 10:00:00+00:00,SN30255
11,air_temperature,1,"{'levelType': 'height_above_ground', 'unit': '...",A,0,PT0H,PT1H,0,degC,4.1,SN30255:0,2018-01-01 11:00:00+00:00,SN30255
12,air_temperature,1,"{'levelType': 'height_above_ground', 'unit': '...",A,0,PT0H,PT1H,0,degC,4.2,SN30255:0,2018-01-01 12:00:00+00:00,SN30255
13,air_temperature,1,"{'levelType': 'height_above_ground', 'unit': '...",A,0,PT0H,PT1H,0,degC,4.0,SN30255:0,2018-01-01 13:00:00+00:00,SN30255
14,air_temperature,1,"{'levelType': 'height_above_ground', 'unit': '...",A,0,PT0H,PT1H,0,degC,3.9,SN30255:0,2018-01-01 14:00:00+00:00,SN30255
15,air_temperature,1,"{'levelType': 'height_above_ground', 'unit': '...",A,0,PT0H,PT1H,0,degC,2.8,SN30255:0,2018-01-01 15:00:00+00:00,SN30255
16,air_temperature,1,"{'levelType': 'height_above_ground', 'unit': '...",A,0,PT0H,PT1H,0,degC,2.8,SN30255:0,2018-01-01 16:00:00+00:00,SN30255
17,air_temperature,1,"{'levelType': 'height_above_ground', 'unit': '...",A,0,PT0H,PT1H,0,degC,2.7,SN30255:0,2018-01-01 17:00:00+00:00,SN30255
18,air_temperature,1,"{'levelType': 'height_above_ground', 'unit': '...",A,0,PT0H,PT1H,0,degC,1.9,SN30255:0,2018-01-01 18:00:00+00:00,SN30255
19,air_temperature,1,"{'levelType': 'height_above_ground', 'unit': '...",A,0,PT0H,PT1H,0,degC,1.7,SN30255:0,2018-01-01 19:00:00+00:00,SN30255
20,air_temperature,1,"{'levelType': 'height_above_ground', 'unit': '...",A,0,PT0H,PT1H,0,degC,2.1,SN30255:0,2018-01-01 20:00:00+00:00,SN30255
21,air_temperature,1,"{'levelType': 'height_above_ground', 'unit': '...",A,0,PT0H,PT1H,0,degC,1.7,SN30255:0,2018-01-01 21:00:00+00:00,SN30255
22,air_temperature,1,"{'levelType': 'height_above_ground', 'unit': '...",A,0,PT0H,PT1H,0,degC,0.8,SN30255:0,2018-01-01 22:00:00+00:00,SN30255
23,air_temperature,1,"{'levelType': 'height_above_ground', 'unit': '...",A,0,PT0H,PT1H,0,degC,0.6,SN30255:0,2018-01-01 23:00:00+00:00,SN30255
24,air_temperature,1,"{'levelType': 'height_above_ground', 'unit': '...",A,0,PT0H,PT1H,0,degC,0.8,SN30255:0,2018-01-02 00:00:00+00:00,SN30255
25,air_temperature,1,"{'levelType': 'height_above_ground', 'unit': '...",A,0,PT0H,PT1H,0,degC,0.1,SN30255:0,2018-01-02 01:00:00+00:00,SN30255
26,air_temperature,1,"{'levelType': 'height_above_ground', 'unit': '...",A,0,PT0H,PT1H,0,degC,-0.2,SN30255:0,2018-01-02 02:00:00+00:00,SN30255
27,air_temperature,1,"{'levelType': 'height_above_ground', 'unit': '...",A,0,PT0H,PT1H,0,degC,-0.4,SN30255:0,2018-01-02 03:00:00+00:00,SN30255
28,air_temperature,1,"{'levelType': 'height_above_ground', 'unit': '...",A,0,PT0H,PT1H,0,degC,-0.6,SN30255:0,2018-01-02 04:00:00+00:00,SN30255
29,air_temperature,1,"{'levelType': 'height_above_ground', 'unit': '...",A,0,PT0H,PT1H,0,degC,-1.1,SN30255:0,2018-01-02 05:00:00+00:00,SN30255
...,...,...,...,...,...,...,...,...,...,...,...,...,...
714,air_temperature,1,"{'levelType': 'height_above_ground', 'unit': '...",A,0,PT0H,PT1H,0,degC,2.3,SN30255:0,2018-01-30 18:00:00+00:00,SN30255
715,air_temperature,1,"{'levelType': 'height_above_ground', 'unit': '...",A,0,PT0H,PT1H,0,degC,2.5,SN30255:0,2018-01-30 19:00:00+00:00,SN30255
716,air_temperature,1,"{'levelType': 'height_above_ground', 'unit': '...",A,0,PT0H,PT1H,0,degC,2.9,SN30255:0,2018-01-30 20:00:00+00:00,SN30255
717,air_temperature,1,"{'levelType': 'height_above_ground', 'unit': '...",A,0,PT0H,PT1H,0,degC,3.1,SN30255:0,2018-01-30 21:00:00+00:00,SN30255
718,air_temperature,1,"{'levelType': 'height_above_ground', 'unit': '...",A,0,PT0H,PT1H,0,degC,3.4,SN30255:0,2018-01-30 22:00:00+00:00,SN30255
719,air_temperature,1,"{'levelType': 'height_above_ground', 'unit': '...",A,0,PT0H,PT1H,0,degC,3.4,SN30255:0,2018-01-30 23:00:00+00:00,SN30255
720,air_temperature,1,"{'levelType': 'height_above_ground', 'unit': '...",A,0,PT0H,PT1H,0,degC,3.5,SN30255:0,2018-01-31 00:00:00+00:00,SN30255
721,air_temperature,1,"{'levelType': 'height_above_ground', 'unit': '...",A,0,PT0H,PT1H,0,degC,3.5,SN30255:0,2018-01-31 01:00:00+00:00,SN30255
722,air_temperature,1,"{'levelType': 'height_above_ground', 'unit': '...",A,0,PT0H,PT1H,0,degC,3.4,SN30255:0,2018-01-31 02:00:00+00:00,SN30255
723,air_temperature,1,"{'levelType': 'height_above_ground', 'unit': '...",A,0,PT0H,PT1H,0,degC,3.3,SN30255:0,2018-01-31 03:00:00+00:00,SN30255
724,air_temperature,1,"{'levelType': 'height_above_ground', 'unit': '...",A,0,PT0H,PT1H,0,degC,3.1,SN30255:0,2018-01-31 04:00:00+00:00,SN30255
725,air_temperature,1,"{'levelType': 'height_above_ground', 'unit': '...",A,0,PT0H,PT1H,0,degC,2.9,SN30255:0,2018-01-31 05:00:00+00:00,SN30255
726,air_temperature,1,"{'levelType': 'height_above_ground', 'unit': '...",A,0,PT0H,PT1H,0,degC,2.4,SN30255:0,2018-01-31 06:00:00+00:00,SN30255
727,air_temperature,1,"{'levelType': 'height_above_ground', 'unit': '...",A,0,PT0H,PT1H,0,degC,2.3,SN30255:0,2018-01-31 07:00:00+00:00,SN30255
728,air_temperature,1,"{'levelType': 'height_above_ground', 'unit': '...",A,0,PT0H,PT1H,0,degC,2.3,SN30255:0,2018-01-31 08:00:00+00:00,SN30255
729,air_temperature,1,"{'levelType': 'height_above_ground', 'unit': '...",A,0,PT0H,PT1H,0,degC,2.7,SN30255:0,2018-01-31 09:00:00+00:00,SN30255
730,air_temperature,1,"{'levelType': 'height_above_ground', 'unit': '...",A,0,PT0H,PT1H,0,degC,2.0,SN30255:0,2018-01-31 10:00:00+00:00,SN30255
731,air_temperature,1,"{'levelType': 'height_above_ground', 'unit': '...",A,0,PT0H,PT1H,0,degC,0.9,SN30255:0,2018-01-31 11:00:00+00:00,SN30255
732,air_temperature,1,"{'levelType': 'height_above_ground', 'unit': '...",A,0,PT0H,PT1H,0,degC,0.7,SN30255:0,2018-01-31 12:00:00+00:00,SN30255
733,air_temperature,1,"{'levelType': 'height_above_ground', 'unit': '...",A,0,PT0H,PT1H,0,degC,2.0,SN30255:0,2018-01-31 13:00:00+00:00,SN30255
734,air_temperature,1,"{'levelType': 'height_above_ground', 'unit': '...",A,0,PT0H,PT1H,0,degC,2.3,SN30255:0,2018-01-31 14:00:00+00:00,SN30255
735,air_temperature,1,"{'levelType': 'height_above_ground', 'unit': '...",A,0,PT0H,PT1H,0,degC,2.6,SN30255:0,2018-01-31 15:00:00+00:00,SN30255
736,air_temperature,1,"{'levelType': 'height_above_ground', 'unit': '...",A,0,PT0H,PT1H,0,degC,3.0,SN30255:0,2018-01-31 16:00:00+00:00,SN30255
737,air_temperature,1,"{'levelType': 'height_above_ground', 'unit': '...",A,0,PT0H,PT1H,0,degC,3.1,SN30255:0,2018-01-31 17:00:00+00:00,SN30255
738,air_temperature,1,"{'levelType': 'height_above_ground', 'unit': '...",A,0,PT0H,PT1H,0,degC,2.9,SN30255:0,2018-01-31 18:00:00+00:00,SN30255
739,air_temperature,1,"{'levelType': 'height_above_ground', 'unit': '...",A,0,PT0H,PT1H,0,degC,2.2,SN30255:0,2018-01-31 19:00:00+00:00,SN30255
740,air_temperature,1,"{'levelType': 'height_above_ground', 'unit': '...",A,0,PT0H,PT1H,0,degC,1.0,SN30255:0,2018-01-31 20:00:00+00:00,SN30255
741,air_temperature,1,"{'levelType': 'height_above_ground', 'unit': '...",A,0,PT0H,PT1H,0,degC,0.2,SN30255:0,2018-01-31 21:00:00+00:00,SN30255
742,air_temperature,1,"{'levelType': 'height_above_ground', 'unit': '...",A,0,PT0H,PT1H,0,degC,0.1,SN30255:0,2018-01-31 22:00:00+00:00,SN30255
743,air_temperature,1,"{'levelType': 'height_above_ground', 'unit': '...",A,0,PT0H,PT1H,0,degC,0.2,SN30255:0,2018-01-31 23:00:00+00:00,SN30255

In [10]:
res = f.get_observations(
            sources=['SN50540'],
            elements=['sum(precipitation_amount P1D)'],
            timeoffsets=['PT6H'],
            referencetime='2018-01-01/2018-02-01')
df = res.to_df()

In [11]:
df

,elementId,exposureCategory,performanceCategory,qualityCode,timeOffset,timeResolution,timeSeriesId,unit,value,sourceId,referenceTime,stationId
0,sum(precipitation_amount P1D),1,A,0,PT6H,P1D,0,mm,9.6,SN50540:0,2018-01-01 00:00:00+00:00,SN50540
1,sum(precipitation_amount P1D),1,A,0,PT6H,P1D,0,mm,6.9,SN50540:0,2018-01-02 00:00:00+00:00,SN50540
2,sum(precipitation_amount P1D),1,A,0,PT6H,P1D,0,mm,2.9,SN50540:0,2018-01-03 00:00:00+00:00,SN50540
3,sum(precipitation_amount P1D),1,A,0,PT6H,P1D,0,mm,0.0,SN50540:0,2018-01-04 00:00:00+00:00,SN50540
4,sum(precipitation_amount P1D),1,A,0,PT6H,P1D,0,mm,0.0,SN50540:0,2018-01-05 00:00:00+00:00,SN50540
5,sum(precipitation_amount P1D),1,A,0,PT6H,P1D,0,mm,0.0,SN50540:0,2018-01-06 00:00:00+00:00,SN50540
6,sum(precipitation_amount P1D),1,A,0,PT6H,P1D,0,mm,0.4,SN50540:0,2018-01-07 00:00:00+00:00,SN50540
7,sum(precipitation_amount P1D),1,A,0,PT6H,P1D,0,mm,12.0,SN50540:0,2018-01-08 00:00:00+00:00,SN50540
8,sum(precipitation_amount P1D),1,A,0,PT6H,P1D,0,mm,0.0,SN50540:0,2018-01-09 00:00:00+00:00,SN50540
9,sum(precipitation_amount P1D),1,A,0,PT6H,P1D,0,mm,0.0,SN50540:0,2018-01-10 00:00:00+00:00,SN50540
10,sum(precipitation_amount P1D),1,A,0,PT6H,P1D,0,mm,2.0,SN50540:0,2018-01-11 00:00:00+00:00,SN50540
11,sum(precipitation_amount P1D),1,A,0,PT6H,P1D,0,mm,0.0,SN50540:0,2018-01-12 00:00:00+00:00,SN50540
12,sum(precipitation_amount P1D),1,A,0,PT6H,P1D,0,mm,0.0,SN50540:0,2018-01-13 00:00:00+00:00,SN50540
13,sum(precipitation_amount P1D),1,A,0,PT6H,P1D,0,mm,0.0,SN50540:0,2018-01-14 00:00:00+00:00,SN50540
14,sum(precipitation_amount P1D),1,A,0,PT6H,P1D,0,mm,0.0,SN50540:0,2018-01-15 00:00:00+00:00,SN50540
15,sum(precipitation_amount P1D),1,A,0,PT6H,P1D,0,mm,9.8,SN50540:0,2018-01-16 00:00:00+00:00,SN50540
16,sum(precipitation_amount P1D),1,A,0,PT6H,P1D,0,mm,10.4,SN50540:0,2018-01-17 00:00:00+00:00,SN50540
17,sum(precipitation_amount P1D),1,A,0,PT6H,P1D,0,mm,2.1,SN50540:0,2018-01-18 00:00:00+00:00,SN50540
18,sum(precipitation_amount P1D),1,A,0,PT6H,P1D,0,mm,2.6,SN50540:0,2018-01-19 00:00:00+00:00,SN50540
19,sum(precipitation_amount P1D),1,A,0,PT6H,P1D,0,mm,2.6,SN50540:0,2018-01-20 00:00:00+00:00,SN50540
20,sum(precipitation_amount P1D),1,A,0,PT6H,P1D,0,mm,0.0,SN50540:0,2018-01-21 00:00:00+00:00,SN50540
21,sum(precipitation_amount P1D),1,A,0,PT6H,P1D,0,mm,0.0,SN50540:0,2018-01-22 00:00:00+00:00,SN50540
22,sum(precipitation_amount P1D),1,A,0,PT6H,P1D,0,mm,4.0,SN50540:0,2018-01-23 00:00:00+00:00,SN50540
23,sum(precipitation_amount P1D),1,A,0,PT6H,P1D,0,mm,24.1,SN50540:0,2018-01-24 00:00:00+00:00,SN50540
24,sum(precipitation_amount P1D),1,A,0,PT6H,P1D,0,mm,19.3,SN50540:0,2018-01-25 00:00:00+00:00,SN50540
25,sum(precipitation_amount P1D),1,A,0,PT6H,P1D,0,mm,10.7,SN50540:0,2018-01-26 00:00:00+00:00,SN50540
26,sum(precipitation_amount P1D),1,A,0,PT6H,P1D,0,mm,4.0,SN50540:0,2018-01-27 00:00:00+00:00,SN50540
27,sum(precipitation_amount P1D),1,A,0,PT6H,P1D,0,mm,29.6,SN50540:0,2018-01-28 00:00:00+00:00,SN50540
28,sum(precipitation_amount P1D),1,A,0,PT6H,P1D,0,mm,12.6,SN50540:0,2018-01-29 00:00:00+00:00,SN50540
29,sum(precipitation_amount P1D),1,A,0,PT6H,P1D,0,mm,16.7,SN50540:0,2018-01-30 00:00:00+00:00,SN50540
30,sum(precipitation_amount P1D),1,A,0,PT6H,P1D,0,mm,34.9,SN50540:0,2018-01-31 00:00:00+00:00,SN50540